
module zabbix-scripts-allow-exec-no-trans 1.0;

require {
	type zabbix_script_exec_t;
	type zabbix_agent_t;
	class file execute_no_trans;
}

#============= zabbix_agent_t ==============
allow zabbix_agent_t zabbix_script_exec_t:file execute_no_trans;
